/NetBeansProjects/GetMethodical/nbproject/private/
/NetBeansProjects/GetMethodical/build/
/NetBeansProjects/ArrayStuff/nbproject/private/
/NetBeansProjects/ArrayStuff/build/
/NetBeansProjects/TicTacToe/nbproject/private/
/NetBeansProjects/TicTacToe/build/
/NetBeansProjects/TicTacToe/dist/
/NetBeansProjects/ListMaker/nbproject/private/
/NetBeansProjects/ListMaker/build/