/NetBeansProjects/GetMethodical/nbproject/private/
/NetBeansProjects/GetMethodical/build/
/NetBeansProjects/ArrayStuff/nbproject/private/
/NetBeansProjects/ArrayStuff/build/
/NetBeansProjects/TicTacToe/nbproject/private/
/NetBeansProjects/TicTacToe/build/
/NetBeansProjects/TicTacToe/dist/
/NetBeansProjects/ListMaker/nbproject/private/
/NetBeansProjects/ListMaker/build/
/NetBeansProjects/FullTextFileSample/build/
/NetBeansProjects/FullTextFileSample/nbproject/private/
/NetBeansProjects/FileAway/nbproject/private/
/NetBeansProjects/FileAway/build/
/NetBeansProjects/FileListMaker/nbproject/private/
/NetBeansProjects/FileListMaker/build/